
.dropdown-header {
  padding-right:0 !important;
  padding-left:0 !important;
  padding-top:30px;
  padding-bottom: 10px;
}

.navbar-default  {
  border:0 !important;
}
.navbar-default .navbar-nav>li>a {
  /* width: 200px; */
  text-transform:uppercase;
  font-size:14px;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
  padding: 15px 25px;
}

.mega-dropdown {
  position: static !important;
  /* width: 100%; */

}

.mega-dropdown-menu {

  width: 100%;
  box-shadow: none !important;
  border-radius:0 !important;
  -webkit-box-shadow: none;
  border:0 !important;
  min-height:308px;
  margin-top: 5px;
  padding-left: 15px !important;
  background-size: contain !important;
  align-items: initial !important;
}
#navbarSupportedContent  {
  position: relative;
}
.mega-dropdown-menu.m_felgi-i-opony {
    background: #f2f2f2 url('../../img3/on2.png') no-repeat right;
    background-position-y: top;
    background-position-x: right -35px;
}
.mega-dropdown-menu.m_mazda2 {
  background: #f2f2f2 url('../../img22/ona2.png') no-repeat right;
  background-position-y: top;
}
.mega-dropdown-menu.m_mazda3{
  background: #f2f2f2 url('../../img3/dzieci2.png') no-repeat right;
  background-position-y: top;

}
.mega-dropdown-menu.m_mazda6 {
  background: #f2f2f2 url('../../img3/sport2.png') no-repeat right;

  background-position-y: top;

}
.mega-dropdown-menu.m_mx-5 {
  background: #f2f2f2 url('../../img3/strefa_kibica2.png') no-repeat right;
  background-position-y: top;

}
.mega-dropdown-menu.m_cx-3 {
  background: #f2f2f2 url('../../img3/kolekcja2.png') no-repeat right;
  background-position-y: top !important;
}
.mega-dropdown-menu.m_cx-5 {
  background: #f2f2f2 url('../../img3/kolekcja2.png') no-repeat right;
  background-position-y: top !important;
}
.mega-dropdown-menu.m_cx-9 {
  background: #f2f2f2 url('../../img3/kolekcja2.png') no-repeat right;
  background-position-y: top !important;
}
/* .mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
} */
.arrow {
  background-image: url('svg/down-arrow.svg');
  position: absolute;
  right: 5px;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  top: 18px;

}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li{
  margin-bottom: 50px;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: inline-block;
  padding:8px 0;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333745;
  white-space: normal;
  text-transform:uppercase;
  font-size:12px;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  letter-spacing:1px;
  position: relative;
}

.mega-dropdown-menu > li > ul > li > a:after,
.small-menu > ul > li > a:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
  margin: 0;
    padding: 0;
    bottom: 2px;
}

.mega-dropdown-menu > li > ul > li > a:hover:after,
.small-menu > ul > li > a:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #333745;

}

.mega-dropdown-menu .dropdown-header {
  color: #333745;
  font-size: 13px;
  text-transform:uppercase;
  font-weight: 500;
  padding-top:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
    letter-spacing:1pt;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.navbar-collapse {
   background: #fff;
  border:0;
  box-shadow:0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {

    color: #333745 !important;
    background-color: #f2f2f2 !important;

}
.navbar-default .navbar-nav > .open2 > a, .navbar-default .navbar-nav > .open2 > a:hover, .navbar-default .navbar-nav > .open2 > a:focus {

    color: #333745 !important;
    background-color: #f2f2f2 !important;

}

.adverts2 {
  position:relative;
  height:307px;
  width: 100%;
z-index: -1;
  /* display: block !important; */

}
.adverts2 > span {
  position:absolute;
  bottom:0px;
  right:20px;
  font-weight:900;
  font-size:40px;
  text-align:right;
  line-height:40px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style:italic;
}
.adverts2 .bar {
  position:absolute;
  bottom:-45px;
  right:15px;
}
.btn {
   font-family: 'Montserrat', sans-serif;
   font-size:15px;
   font-weight:bold;
  border-radius: 0px !important;
}
.btn-yellow {
  background: #ffd500;
  color: #000000;
}
.btn-black {
  color: #fff;
  background:#141414;
}
.adverts2 .btn {
  transform: skewX(-7deg);
}
.adverts2 .btn > p {
  transform: skewX(7deg);
  margin:0;
}
.adverts2 .btn
{
  margin-right:10px;
}
.adverts2 .btn-yellow:hover, .adverts2-yellow .btn:focus {
  color: #fff;
}
/* .adverts2 .btn-black:hover, .adverts2 .btn-black .btn:focus {
  color: #fff;
} */
.show-all {
  position: absolute;
  bottom: 15px;

}
.show-all > a {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333745;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.4;

}
.show-all > a:hover {
  text-decoration: none;
}


.small-menu ul {
  background: #f2f2f2;
  padding-right: 15px !important;
  margin: 0;
  min-height: initial !important;

}
.small-menu .mega-dropdown-menu li {
  margin-bottom: 0;
}
.small-menu .mega-dropdown-menu li a {
  display: inline-block;
padding: 8px 0;
font-weight: normal;
line-height: 1.428571429;
color: #333745;
white-space: normal;
text-transform: uppercase;
font-size: 13px;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
letter-spacing: 1px;
position: relative;
}


.small-menu .mega-dropdown-menu > li > a:hover,
.small-menu .mega-dropdown-menu > li > a:focus {
  text-decoration: none;
  background: transparent;

}

@media all and (max-width: 1200px) {
  .adverts2 {
    display: none;
  }
  .mega-dropdown-menu.on, .mega-dropdown-menu.ona, .mega-dropdown-menu.dzieci, .mega-dropdown-menu.sport {
    background-image: initial !important;
  }
}


@media all and (max-width: 767px) {

  .mega-dropdown-menu > li{
    margin-bottom: 10px;
  }


  .show-all {
    display: none;
  }

  .navbar-nav > li > .dropdown-menu {

  position: relative !important;
}


  .small-menu .mega-dropdown-menu li a{
    margin-left: 10px !important;
    padding-left: 5px !important;
  }
}
@media all and (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 12px;
}
.show-all {
    position: relative;
    bottom: 15px;
    width: 100%;
    margin-top: 25px;
}
}

@media all and (min-width:767px) and (max-width:992px) {
  ul.mega-dropdown-menu li > ul {
    /* height: 315px; */
  }
}

@media all and (min-width: 992px) {
  .mega-dropdown-menu.dzieci > li {
    width: 33.33333333% !important;
}
.mega-dropdown-menu {
min-height: 420px;
}
.on .col-md-3:first-child {
    width: 25% !important;
}
.mega-dropdown-menu.ona .adverts2 {
    bottom: -70px;
}
.mega-dropdown-menu.dzieci .adverts2 {
    bottom: 20px;
}
.mega-dropdown-menu.sport .adverts2 {
    bottom: 20px;
}
}

.navbar-nav .open2 .dropdown-menu {

    position: static !important;
    float: none !important;
    width: auto !important;
    margin-top: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}

@media all and (min-width: 767px) {
  .myaccount_dropdown_width{
    width: 195px !important;
  }
}

@media all and (max-width: 767px) {
  .myaccount_dropdown{
    /* width: 100% !important; */
    float: unset !important;
  }
  .myaccount_dropdown > li{
    width: 100% !important;
    float: unset !important;
  }
}

@media all and (min-width: 767px) and (max-width: 992px) {
  .navbar-default .navbar-nav > li > a {
      padding: 15px 22px !important;
  }
}



/* .nomobiledropdownhover.open .mega-dropdown-menu{
	display:flex !important;
} */

/* .nomobiledropdownhover.open > ul{
	display: block;
}
#navbarSupportedContent > ul.navbar-nav.mr-auto > li.nav-item.dropdown.small-menu.nomobiledropdownhover.open > ul > li > a:before{
	display:none;
} */

#navbarSupportedContent > ul.navbar-nav.nav-flex-icons > li > ul{
	    min-width: 13rem !important;
}

/* #navbarSupportedContent li{
	width: 100% !important;
} */

#navbarSupportedContent .open ul {
    z-index: 10000;
	margin-top: -2px;
}
#navbarSupportedContent .open ul li ul {
    width: auto;
    z-index: 9000;
     position: absolute !important;
    left: 160px;
	top: 0;
}
#navbarSupportedContent .open ul li ul li{
    width: 100%;

}
#navbarSupportedContent .open ul li ul li {
    display: block;
    float: left;
}

#navbarSupportedContent .open-sub.open ul{
	display:block;
}

#navbarSupportedContent .open-sub ul{
	display:none;
}

#navbarSupportedContent > ul > li > ul > li > a{
	text-decoration: none !important;
	background: transparent !important;
}

#navbarSupportedContent > ul.navbar-nav.mr-auto > li.nav-item.active.dropdown.small-menu.nomobiledropdownhover > ul > li > ul li a{
	text-decoration: none !important;
	background: transparent !important;
}

#navbarSupportedContent > ul > li > ul > li > a:after{
	display:none;
}
#navbarSupportedContent > ul.navbar-nav.mr-auto > li.nav-item.active.dropdown.small-menu.nomobiledropdownhover > ul > li> ul > li  a:after{
	display:none;
}
#navbarSupportedContent > ul.navbar-nav.mr-auto > li.nav-item.active.dropdown.small-menu.nomobiledropdownhover > ul > li> ul > li  a:before{
	display:none;
}

#navbarSupportedContent > ul.navbar-nav.mr-auto > li.nav-item.dropdown.small-menu.nomobiledropdownhover.open > ul > li > ul > li  a:after{
	display: none;
}

#navbarSupportedContent > ul.navbar-nav.mr-auto > li > ul > li.nav-item.dropdown.small-menu.open-sub.nomobiledropdownhover > ul > li > ul > li > a:after{
	display: none;
}


.open-sub a{
	padding-left:0 !important;
	padding-right: 0 !important;

}

.dropdown-menu.open {
  display: block;
}
